.div1 {
    height: 92px;
    font-family: consolas;
    display: flex;
    justify-content: center;
    color: var(--white-color);
    font-size: 3rem;
    position: relative;
    align-items: center;
    -webkit-box-reflect: below -68px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.div1 span {
    position: relative;
    bottom: 0;
    display: inline-block;
    margin: 0 2px;
    letter-spacing: 6px;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate{
    0% {
        transform: translateY(0px);
    }
    20% {
        transform: translateY(-20px);
    }
    40%,100% {
        transform: translateY(0px);
    }
}

.div2 {
    height: 72.5px;
}


.app {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    position: relative;
}

.picture {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) , rgba(0, 0, 0, 0.1)), url(https://cdn.glitch.com/7e7e2d15-eae8-48b0-91b5-a28c3f86d6b1%2Fbackground5.jpg?v=1602639244379);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    max-height: 100%;
}

.picture__selection {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.picture__selection-btn > h1 {
    color: var(--white-color);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 100px;
}

.picture__selection-btn {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.selection-btn {
    display: flex;
}

.btn > a{
    text-decoration: none;
    color: #21ebff;
    font-size: 2rem;
    height: 38px;
    width: 160px;
    display: inline-block;
    margin: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

/* .btn > a:first-child {
    filter: hue-rotate(115deg);
}

.btn > a:last-child {
    filter: hue-rotate(270deg);
} */


.btn > a:hover {
    color: #111;
    background-color: #21ebff;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.3s;
}

.btn > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition-delay: 0.2s;
    transition: 0.3s; 
}

.btn > a:hover::before {
    height: 100%;
    transition-delay: 0;
    width: 100%;
}

.btn > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition-delay: 0.2s;
    transition: 0.3s;
}
.btn > a:hover::after {
    height: 100%;
    transition-delay: 0;
    width: 100%;
}

/* Animation  */


.div1-img {
    height: 60px;
    width: 60px;
    background-color: #ccc;
}


/*? Pill list  */

.pill-list {
    display: flex;
    list-style: none;
}

.pill-item {
    margin: 4.5rem;
    cursor: pointer;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
}

.pill-icon1 {
    font-size: 4rem;
    color: red;
}
.pill-icon2 {
    font-size: 4rem;
    color: orange;    
}
.pill-icon3 {
    font-size: 4rem;
    color: aqua;
}
.pill-icon4 {
    font-size: 4rem;
    color: chartreuse;
}

.pill-list2 {
    margin-top: 0;
}


/* !Form */

.modal {
    background-color: rgb(240, 240, 240);
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    display:flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    display: none;
    overflow: hidden;
}
.grid__form {
    height: 500px;
    border: 1px solid rgb(200, 230, 230);
    box-shadow: 0 0 15px rgb(200, 200, 200);
    border-radius: 6px;
    
}


.grid__form {
    display: flex;
    align-items: center;
    position: relative;
}

.form-login {
    flex: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.box-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px;
    margin-left: 4rem;
}

.login {
    display: flex;
    flex-direction: column;
    flex: 1;

    justify-content: center;
    align-items: center;
}

.login-title {
    position: absolute;
    top: 0;
    text-align: center;
    margin-top: 3.95rem;
    font-size: 1.8rem;
}

.login-title10 {
  top: -20px;
}
.value {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}


.login-form {
    margin: 4rem;
    padding: 4rem;
    font-size: 1.4rem;
    border-radius: 4px;
    box-shadow: 0 0 15px rgb(200, 200, 200);

}

.label {
    width: 90px;
    display: inline-block;
}

.form-list {
    width: 40%;
    list-style: none;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    text-align: center;
    box-shadow: 0 0 15px rgb(200, 200, 200);

}

.form-item {
    padding: 0.5rem;
    border: 1px solid #21ebff; 
    margin: 8px 0;
    margin: 10px 20px;
    cursor: pointer;
}

.form-item:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

table {
    width: 70%;
    height: 70%;
    border: 1px solid red;
    font-size: 1.4rem;
    margin-top: 16%;
}

table, th, td {
    border: 1px solid black;
  }



/* !Form 2 */
.login-all {
    margin: 4px 0;
}

.login-form_flex {
    display: flex;
}

.form-list1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-shadow: none;
}

.form-item1 {
    height: 35px;
    width: 80px;
    border: 1px solid #21ebff; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 6px;
}

.form-item1:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.box-list1 {
    flex: none;
}


/* ! form 3 */
.login-form3 {
    display: flex;
    flex-direction: column;
    margin: 6.4rem 0 0 8rem
}

.login3 {
    flex-direction: row;
   
}

.box-list3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
    margin-left: 0;
}

.form-item3 {
    display: flex;
    justify-content: space-between;
}

.form-item_item3 {
    width: 80px;
    height: 80%;
}

.login-ncc {
    display: flex;
    margin: 8px 0;
}

.label3 {
    width: 50%;
}

.table3 {
    margin-top: auto;
}

.login-title3 {
    position: absolute;
    left: 80px;
}

.login4 {
    justify-content: center;
    align-items: baseline;
}
.login-form4 {
    padding: 28px;
    margin: 0 28px;
}
.box-list4 {
    align-items: center;
}

.form-list4 {
    width: auto;
}

/* todo */

.form-list5 {
    display: flex;
    font-size: 1.4rem;
    list-style: none;
}

.form-item5 {
    padding: 0 20px;
    border: 1px solid #21ebff; 
    margin: 0 8px;
    cursor: pointer;
}

.form-item5:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.login-form5 {
    margin: 0;
    display: inline-block;
    width: 122%;
    padding: 1rem;
}

.omforrm {
    display: flex;
    flex-direction: column;
}

.manage-top {
    display: flex;
}

.label5 {
    width: 60%;
}

.manage-top_left-form {
    width: 60%;
}

.manage-top_left {
    width: 61%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.manage-top_right {
    width: 40%;
    border: 1px solid black;
}

.table5 {
    width: 100%;
    margin-top: auto;
}

.login-title5 {
    top: -32px;
}
.login-title55 {
    top: 43%;
}


.manage-bottom {
    flex: 1;
    margin-top: 14px;
}

.manage-top {
    flex:1;
}

.login-title56 {
    top: 49.5%;
}

.login-title6 {
    top: -50px;
}

.login-title9 {
  top: 43%;
}

.login-title89 {
  top: -16px;
}

.manage-top_left9 {
  width: 80%;
}