body, html {
    height:100%;
    width: 100%;
  }
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
@keyframes Growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
/* Modal */
.modal1{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    display: none;
    visibility: hidden;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0.4);
}
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 10;
    animation: growth linear 0.1s;
}

.app.app_local {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* Authen modal */
.auth-form{
    width: 500px;
    background-color: var(--White-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;

}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin: 12px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--border-color); 
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 18.rem;
    text-align: center;
    padding: 0 12px;   
}
.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}
.auth-form__controls-back{
    margin-right: 8px;
}
.auth-form__socials{
    background-color: #F5F5F5;
    padding: 16px 22px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;

}
.auth-form__socials-icon{
    font-size: 1.8rem;

}
.btn.auth-form__socials--facebook{
    color: var(--White-color);
    background-color: #3a5a98;  
}
.auth-form__socials--facebook
.auth-form__socials-icon{
    color: var(--White-color);
}
.auth-form__socials-title{
    margin: 0 36px;
}
.btn.auth-form__socials--google{
    color: #666;
    background-color: var(--White-color)
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;

}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-separate{
    display: block;
    border-left: 1px solid #eaeaea;
    margin: 1px 16px 0;
    height: 22px;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}

.app .app_form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginback,#login__hidden {
    display: none;
    visibility: hidden;
}